<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, white-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Video Uploader</title>
</head>
<body class="bg-gray-900">
<header class="text-gray-400 bg-gray-900 body-font">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
        <a class="flex">
            <img src="/logo.png" alt="LOGO" style="width:30px; height:30px;"/>
            <a class="ml-3 text-xl flex title-font font-medium items-center text-white mb-4 md:mb-0" style="cursor:pointer" href="/streamKaro/admin" >StreamKaro</a>
        </a>
        <nav style="cursor:pointer"  class="md:ml-auto flex flex-wrap items-center text-base justify-center">
            <a class="mr-5 hover-scale"  href="videoUpload">Video Manager</a>
            <a class="mr-5 hover-scale">History</a>

        </nav>
        <button style="background-color: #0BDA51; color:black;" class="inline-flex items-center border-0 py-1 px-3 rounded hover-scale ">GO LIVE!
        </button>
    </div>
</header>


<!--<section class="text-gray-400 bg-gray-900 body-font ">-->
<!--    <div class="container px-5 py-24 mx-auto text-center center-content">-->
<!--            <div class="sm:w-1/2 mb-10 px-2">-->
<!--                <div class="rounded-lg overflow-hidden center-content">-->
<!--                    <img alt="content" class="object-cover object-center" src="https://media.giphy.com/media/LHZyixOnHwDDy/giphy.gif">-->
<!--                </div>-->
<!--                <h2 class="title-font text-2xl font-medium text-white mt-6 mb-3">Upload Videos To Your Bucket</h2>-->
<!--                <p class="leading-relaxed text-base">In this section of StreamKaro, you have the capability to upload videos effortlessly. Whether it's sharing memorable moments, educational content, or creative projects, this feature empowers you to contribute to the video gallery.<span style="color:#FF6347; font-size: 20px;" > Remember! the video can only be streamed once it's been uploaded.</span> </p>-->
<!--                    <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded hover-scale">Upload</button>-->
<!--            </div>-->
<!--        </div>-->
<!--</section>-->


<section class="text-gray-400 bg-gray-900 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-wrap -mx-4 -mb-10 text-center">
            <div class="sm:w-1/2 mb-10 px-4">
                <div class="rounded-lg h-32 w-64 overflow-hidden">
                    <img alt="content" class="object-cover object-center h-full w-full" src="https://dummyimage.com/1201x501">
                </div>
                <h2 class="title-font text-2xl font-medium text-white mt-6 mb-3">Upload Your Videos</h2>
                <p class="leading-relaxed text-base">In this section of StreamKaro, you have the capability to upload videos effortlessly. Whether it's sharing memorable moments, educational content, or creative projects, this feature empowers you to contribute to the video gallery.<span style="color:#FF6347; font-size: 20px;" > Remember! the video can only be streamed once it's been uploaded.</span> </p>
                <button class="flex mx-auto mt-6 text-white bg-indigo-500 border-0 py-2 px-5 focus:outline-none hover:bg-indigo-600 rounded">Upload</button>
            </div>
        </div>
    </div>
</section>





    <footer class="text-gray-400 bg-gray-900 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
            <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
                <img src="/logo.png" alt="LOGO" style="width:30px; height:30px;"/>
                <span class="ml-3 text-xl">StreamKaro</span>
            </a>
            <p class="text-sm text-gray-400 sm:ml-4 sm:pl-4 sm:border-l-2 sm:border-gray-800 sm:py-2 sm:mt-0 mt-4">© Prakarsh Srivastava —
                <a href="mailto:prakarsh2101@gmail.com" class="text-gray-500 ml-1" target="_blank" rel="noopener noreferrer">prakarsh2101@gmail.com</a>
            </p>
        </div>
    </footer>
</body>

</html>