.hover-scale {
  transition: all 0.3s;
  cursor: pointer;
  transform-origin: center;
  display: inline-block;
}
.hover-scale-small {
  transition: all 0.3s;
  cursor: pointer;
  transform-origin: center;
  display: inline-block;
}

/* Apply the scaling and color change on hover */
.hover-scale:hover {
  transform: scale(1.2);
  color: #FF6347;
}

.hover-scale-small:hover {
  transform: scale(1.05);
  color: #FF6347;
}
.hover-white:hover {
    transform: scale(1.05);
    background-color: white;

}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
}