.hover-scale {
  transition: all 0.3s;
  cursor: pointer;
  transform-origin: center;
  display: inline-block;
}
.hover-scale-small {
  transition: all 0.3s;
  cursor: pointer;
  transform-origin: center;
  display: inline-block;
}

/* Apply the scaling and color change on hover */
.hover-scale:hover {
  transform: scale(1.2);
  color: #FF6347;
}

.hover-scale-small:hover {
  transform: scale(1.05);
  color: #FF6347;
}
.hover-white:hover {
    transform: scale(1.05);
    background-color: white;

}

.center-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


#file-upload-container {
    /* Existing styles */
    /* ... */

    /* Add animation properties */
    opacity: 0; /* Start with 0 opacity (invisible) */
    transform: translateY(-30px); /* Start with a slight upward translation */


    /* Apply transition properties */
    transition: opacity 0.5s ease, transform 0.5s ease; /* Adjust the duration and timing function as needed */

    display:block;
}

#file-upload-container.show {
    opacity: 1; /* Show the element by changing opacity to 1 */
    transform: translateY(0); /* Reset the translation to make it visible */
    display:block;
}