.hover-scale {
  transition: all 0.3s;
  cursor: pointer;
  transform-origin: center;
  display: inline-block;
}

/* Apply the scaling and color change on hover */
.hover-scale:hover {
  transform: scale(1.2);
  color: #FF6347;
}

.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Optionally, to center vertically as well */
}